{% extends "enroll/base.html" %}

{% block content %}    

    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center alert alert-info">Add new student</h4>
            
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
                
            </form>
        </div>

        <div class="col-sm-7 offset-1">
            <h4 class="text-center alert alert-info">Students information</h4>
                {% if messages %}
                    <div class="messages text-center">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% if students %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                  <tr>
                    <th scope="row">{{student.id}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.password}}</td>
                    <td>
                        <a href="{% url "update" student.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <form action="{% url "delete" student.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
                <p>No data availabe</p>
            {% endif %}
        </div>

    </div>

{% endblock content %}